.preview {
    width: 15rem;
    height: 10rem;
}

.cardContainer {
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 0.5rem;
}

#addFavButton {
    margin-top: 0.5rem;
}