body {
    background-image: url('./assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

#bodyHeight {
    min-height: 40vw;
}

body a:link, a:active, a:visited{
    text-decoration: none;
    color: #fff;
}

button:hover {
    transform: scale(1.1);
}

.buttonText, .buttonText:visited{
    color: #000;
}

ul {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    body {
        background-image: url('./assets/background.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Helvetica, Arial, sans-serif;
        color: #fff;
    }
}
